$color__background-body: #0f0f0f;
$color__background-screen: #0f0f0f;
$color__background-hr: #0f0f0f;
$color__background-button: #0f0f0f;
$color__background-pre: #0f0f0f;
$color__background-ins: #fff9c0;
$color__background-card: #fafafa;
$color__background-white: #fff;


$color__text-screen: #7FE5F0;
$color__text-input: #2b2b2b;
$color__text-input-focus: #C13535;
$color__link: #e3e3e3; 
$color__link-visited: #e3e3e3; 
$color__link-hover: #7FE5F0; 
$color__text-main: #e3e3e3;
$color__text-contrast: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #7FE5F0;
$color__border-button-focus: #C13535;
$color__border-input: #C13535;
$color__border-abbr: #666;


